body {
    margin: 0px auto;
}

nav {
    display: flex;
    justify-content: space-around;
    background-color: hsl(340deg 8.82% 86.67%);
}

ul.nav-tab {
    display: flex;
    align-items: flex-end;
    list-style-type: none;
    margin: 0px;
}
.nav-tab :hover{
    color: red;
    font-size: 10px;
}
.footer {
    padding: 1px;
}
.footer-sec{
    display: flex;
    justify-content: space-around;
    background-color: hsl(340deg 8.82% 86.67%);

}
.body-img{
    margin-top: 2rem;
}
.content h4{
    color: hsl(345deg 2.26% 53.28%);
}
.content h2{
    color: red;
}

ul.footer-tab {
    display: flex;
    background-color: hsl(56.02deg 100% 58.63%);
    justify-content: space-evenly;
    margin: 0;
    padding: 4px;
}

li {
    padding: 1rem;
    font-size: 20px;
}